<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Document</title>
</head>
<body>
<a style="color: yellow" href="/saveUser">Register</a><br>
<a style="color: blue" href="/addFilm">Add Film</a><br>
Films:
<div>

</div>

<header>
    <div
            class="background-container">
    </div>
    <div class="container align-start justify-between flex">
        <div class="logo">
            <Link to="/">
            <h1>GidMovie</h1>
            </Link>
        </div>
        <div class="menu">
            <ul class="menu__list flex">
                <li class="menu-list__item">
                    <a href="/">Films</a>
                </li>

                <li class="menu-list__item">
                    <a href="/tv">Series</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <div class="category-text flex justify-between">
            Trending Movies
        </div>
        <div class="card-wrapper flex">
            <a
                    key={movie.id}
                    class="card flex align-center"
                    th:each="movie: ${movies}"
                    th:href="@{'movies/'+${movie.id}}"
            >
                <div>
                    <div class="card-image-wrapper">
                        <img th:if="${movie.picUrl != null}" th:src="@{/getImage(picName=${movie.picUrl})}"
                             alt="no image found"
                        />
                    </div>
                    <p th:text="${movie.title}"></p>
                </div>
            </a>
        </div>
        <div>
            <div class="category-text flex justify-between">
                Movies
            </div>
            <div class="card-wrapper flex">
                <a
                        key={movie.id}
                        class="card flex align-center"
                        th:each="movie: ${movies}"
                        th:href="@{'movies/'+${movie.id}}"
                >
                    <div>
                        <div class="card-image-wrapper">
                            <img th:if="${movie.picUrl != null}" th:src="@{/getImage(picName=${movie.picUrl})}"
                                 alt="no image found"
                            />
                        </div>
                        <p th:text="${movie.title}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div>
        </div>
    </div>
</main>
</body>
</html>
