<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>GidMovie</title>
</head>

<style>

</style>

<body>

<header>

    <div
            class="background-container">
    </div>
    <div class="container align-start justify-between flex">
        <div class="logo">
            <a href="/">
                <h1>GidMovie</h1>
            </a>

        </div>


        <div class="search" th:include="fragment/searchFragment:: search"></div>

        <div class="menu">
            <div class="__login_register" th:include="fragment/userFragment:: login">

            </div>
            <ul class="menu__list flex">
                <!--                <li class="menu-list__item">-->
                <!--                    <a href="/">Films</a>-->
                <!--                </li>-->

                <!--                <li class="menu-list__item">-->
                <!--                    <a href="/series">Series</a>-->
                <!--                </li>-->
                <div class="genre-container" th:each="gen: ${genres}">
                    <span class="category__name"><a th:href="@{/movies(genre=${gen.id})}" th:text="${gen.name}"
                                                    th:value="${gen.name}"></a></span>
                </div>
            </ul>
        </div>
    </div>
</header>
<main>

    <div class="container">
        <div class="category-container" th:each="cat: ${categories}">
            <span class="genre__name"><a th:href="@{/moviesByCategories(category=${cat.id})}" th:text="${cat.name}"
                                         th:value="${cat.name}"></a></span>

        </div>
        <a th:if="${user !=null && user.Role.name()=='ADMIN'}" href="/addFilm" class="btn-secondary"
           th:text="#{addMovie}">ADD MOVIE </a>
        <!--        <div class="category-text flex justify-between">-->
        <!--            Trending Movies-->
        <!--        </div>-->
        <!--        <div class="card-wrapper flex">-->
        <!--            <a-->
        <!--                    key={movie.id}-->
        <!--                    class="card flex align-center"-->
        <!--                    th:if="${movies != null && !movies.isEmpty()}"-->
        <!--                    th:each="movie: ${moviePage.content}"-->
        <!--                    th:href="@{'movies/'+${movie.id}}"-->
        <!--            >-->
        <!--                <div>-->
        <!--                    <div class="card-image-wrapper">-->
        <!--                        <img th:if="${movie.picUrl != null}" th:src="@{/getImage(picName=${movie.getPicUrl()})}"-->
        <!--                             alt="no image found"-->
        <!--                        />-->
        <!--                    </div>-->
        <!--                    <p th:text="${movie.title}"></p>-->
        <!--                </div>-->
        <!--            </a>-->
        <!--        </div>-->
        <div>
            <div class="category-text flex justify-between" th:if="${categoryId==1}">
                <p>Action Movies</p>
                <div>


                </div>
            </div>
            <div class="category-text flex justify-between" th:if="${categoryId==2}">
                <p>Comedy Movies</p>
            </div>
            <div class="category-text flex justify-between" th:if="${categoryId==3}">
                <p>Drama Movies</p>
            </div>
            <div class="category-text flex justify-between" th:if="${categoryId==4}">
                <p>Fantasy Movies</p>
            </div>
            <div class="category-text flex justify-between" th:if="${categoryId==5}">
                <p>Horror Movies</p>
            </div>
            <div class="category-text flex justify-between" th:if="${categoryId==6}">
                <p>Mystery Movies</p>
            </div>
            <div class="category-text flex justify-between" th:if="${categoryId==7}">
                <p>Romance Movies</p>
            </div>
            <div class="category-text flex justify-between" th:if="${categoryId==8}">
                <p>Thriller Movies</p>
            </div>
            <div class="card-wrapper flex">
                <a
                        key={movie.id}
                        class="card flex align-center"
                        th:each="movie: ${moviePage.content}"
                        th:href="@{'movies/'+${movie.id}}"
                >
                    <div>
                        <div class="card-image-wrapper">
                            <img th:if="${movie.picUrl != null}" th:src="@{/getImage(picName=${movie.picUrl})}"
                                 alt="no image found"
                            />
                        </div>
                        <p th:text="${movie.title}"></p>
                    </div>
                </a>
            </div>
        </div>
        <div>
        </div>

    </div>
    <div th:if="${moviePage.totalPages>0}" class="pagination"
         th:each="pageNumber: ${pageNumbers}">
        <a th:href="@{/moviesByCategories(category=${categoryId},size=${moviePage.size}, page=${pageNumber - 1})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==moviePage.number + 1} ? active"></a>
    </div>


</main>

</body>
</html>
