<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title th:text="${movies.getTitle()}"></title>
</head>
<body>
<header>
    <div
            class="background-container active">
    </div>
    <div class="container align-start justify-between flex">
        <div class="logo">
            <a href="/">
                <h1> Gid Movie</h1>
            </a>
        </div>
        <div class="menu __login_register" th:include="fragment/userFragment:: login">
        </div>
    </div>
</header>
<div
        class="background_poster"

>
    <img th:if="${movies.picUrl != null}" th:src="@{/getImage(picName=${movies.picUrl})}"
         alt="no image found"
    />
</div>
<Header/>
<div class="container">
    <div class="details__container">
        <div class="details__poster">
            <img th:if="${movies.picUrl != null}" th:src="@{/getImage(picName=${movies.picUrl})}"
                 alt="no image found"
            />
        </div>
        <div class="details__other flex">
            <p class="movie__title" th:text="${movies.title}">Film Name</p>
            <p class="movie__premier">Premier : <span th:text="${movies.getCreatedDate()}"></span></p>
            <div class="genres">
                <span class="other__text">Genres:</span>
                <span th:each="category: ${movies.categories}" th:text="${category.name}" key={i} class="genre__name">

                      </span>

            </div>
            <p class="movie__duration">Duration: <span th:text="${movies.getDuration()}"></span> min </p>
            <div class="genres">
                <span>Actors:</span>
                <span class="other__text" th:each="actor: ${movies.actor}">
                <span class="actor"><a th:href="@{/moviesByActors(actor=${actor.id})}" th:text="${actor.name}" key={i}
                                       class="genre__name">
                        actors
                </a>
                      </span>
                    </span>
            </div>
            <p class="movie__rating">Rating: <span th:text="${rating}"></span> </p>
<!--            <p class="" th:text="${rating==null?0:rating}"> Rating</p>-->

            <div class="rate"  th:action="@{/action}"  th:object="${myObject}"
                 method="post">
                <input type="radio" id="star5" name="rate" value="5" th:checked="${rating.intValue()==5}" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" th:checked="${rating.intValue()==4}"/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" th:checked="${rating.intValue()==3}"/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" th:checked="${rating.intValue()==2}"/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" th:checked="${rating.intValue()==1}"/>
                <label for="star1" title="text">1 star</label>
            </div>

        </div>

    </div>
    <div class="details__container">
        <div class="overview">
            <span class="overview__text">About movie</span><br><br>
            <span th:text="${movies.getDescription()}"></span>
        </div>
    </div>
    <div class="details__container">
        <div class="overview">
            <iframe width="650" height="315"
                    th:src="${movies.videoUrl}">
            </iframe>
        </div>
    </div>
    <div class="details__container comment__section">
        <div class="overview ">
            <button class="comment__button">Leave a comment</button>
            <textarea class="comment__area"></textarea>

        </div>
    </div>
</div>

</body>
</html>