<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <title>Document</title>
  </head>
  <body>
    <header>
        <div
                class="background-container">
        </div>
        <div class="container align-start justify-between flex">
            <div class="logo">
                <a href="/">
                    <h1>GidMovie</h1>
                </a>
                <div>
               
            </div>
            </div>
           
            <div class="menu">
                <div class="__login_register">
                <a href="/userLogin.html" class="btn-secondary">Login</a>
                <a href="/userRegister.html"  class="btn-secondary">Register</a>
                </div>
                <ul class="menu__list flex">
                    <li class="menu-list__item">
                        <a href="/">Films</a>
                    </li>
    
                    <li class="menu-list__item">
                        <a href="/tv">Series</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
   <div class="container">
    <div class="register">
        <h2>Login</h2>
        <form action="/saveUser" method="post">
          email:<input
            type="text"
            name="email"
            th:value="${user == null} ? '' : ${user.email}"
          /><br />
          password:
          <input
            type="password"
            name="password"
            th:value="${user == null} ? '' : ${user.password}"
          /><br />
          <input type="submit" value="Login" />
        </form>
    </div>
   </div>
  </body>
</html>
